* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  
  /* HEADER / NAV BAR STYLES START */
  
  header {
    padding: 20px 35px;
    background-color: #e67f47;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #fce138;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: #325b8f;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: #fce138;
    color: #325b8f;
    border-radius: 15px;
    text-shadow: none;
  }
  
  /* HEADER / NAVBAR STYLES END */
  
  
  
  /* FOOTER STYLES START */
  footer {
    background: #fce138;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  footer h2 {
    color: #024e76;
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: #325b8f;
  }
  /* END FOOTER STYLES */
  
  /* STYLE ALL SECTION TAGS */
  section {
    padding: 60px;
  }
  
  /* HERO STYLES START */
  .hero {
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
   
  }
  
  .hero-cta {
    width: 100%;
    text-align: center;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
  }
  
  .hero-cta h2 {
    font-size: 70px;
    color: #325b8f;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .hero-form {
    border: 3px solid #325b8f;
    background-color: rgba(224, 224, 218, 0.8);
    padding: 20px;
    color: #325b8f;
    width: 40%;
    margin: 3.5%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .hero-form button:hover {
    background-color: #39a6b2;  
  }
  
  .hero-form h3 {
    font-size: 24px;
    margin: 0;
  }
  .hero-form p {
    margin: 5px 0 15px 0;
  }

  
  .form-input {
    border: 1px solid #325b8f;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #325b8f;
    width: 100%;
    margin-bottom: 15px; 
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
  }
  
  .form-input:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
  }
  
  .hero-form label {
    margin: 0 5px;
  }
  
  .hero-form button {
    color: #fce138;
    background-color: #325b8f;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
  } 
  /* HERO STYLES END */
  
  
  /* SECTION TITLE STYLES START */
  .section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    color: #325b8f;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
  }
  
  .primary-border {
    border-color: #fce138;
  }
  
  .secondary-border {
    border-color: #39a6b2;
  }
  /* SECTION TITLE STYLES END */
  
  /* WHAT WE DO STYLES */
  
  .intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
  }
  /* WHAT YOU DO STYLES END */
  
  
  /* WHAT YOU DO STYLES START */
  .steps { 
    background: #fce138;
  }
  
  .step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid #39a6b2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .step:last-child {
    border-bottom: none;
  }
  
  .step h3 {
    color: #024e76;
    font-size: 46px;
    flex: 1 30%;
  }
  
  .step-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .step-img {
    flex: 1 12%;
    margin-right: 20px;
  }
  
  .step-img img {
    max-width: 100%;
  }
  
  .step-text {
    flex: 12;
  }
  
  .step-text p {
    color: #39a6b2;
    font-size: 18px;
  }
  
  .step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: #024e76;
  }
  /* WHAT YOU DO STYLES END */
  
  /* MEET THE TRAINERS START */
  .projects {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    flex-direction: column;
  }
 .row {
   flex-direction: row;
   /* background: chartreuse; */
   display: flex;
   justify-content: center;
 }
  .row > * {
    width: 40%;
  }
  .project {
    margin: 20px;
    /* flex: 1; */
    background: #024e76;
    color: #fce138;
    justify-content: center;
  }
  
  .project img {
    width: 100%;
    height: 100%;
  }
  
  .project-bio p {
    padding: 25px;
    line-height: 1.3;
  }
  
  .trainer-bio h3 {
    font-size: 28px;
  }
  
  .trainer-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
  }
  
  .trainer-bio p {
    font-size: 17px;
  }
  /* TRAINER STYLES END */
  
  /* REACH OUT STYLES START */
  .contact {
    background: #024e76;
  }
  
  .contact h2 {
    color: #fce138;
  }
  
  .contact-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  
  .contact-info > * {
    flex: 1;
    margin: 15px;
  }
  
  
  .contact-info div {
    color: white;
  }
  
  .contact-info h3 {
    color: #fce138;
    font-size: 32px;
  }
  
  .contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
    justify-content: center;
  }
  
  .contact-form input, .contact-form textarea {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
  }
  
  .contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
  }
  

  
  .contact-info a {
    color: #fce138;
  }
  /* REACH OUT STYLES END */
  
  /* UTILITIES */
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .flex-row {
    display: flex;
  }
  
  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
  
    .hero-cta, .hero-form {
      width: 100%;
    }
    
    .hero-cta {
      text-align: center;
    }
  
    .section-title {
      width: 80%;
    }
    
    .trainer {
      flex: 0 70%;
    }
    
    .contact-info iframe{
      flex: 1 100%;
    }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }
  
    .trainer-bio h3, .trainer-bio h4 {
      display: block;
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .hero-form button {
      width: 100%;
    }
  
    .section-title {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    .trainer {
      flex: 0 100%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
  
    .contact-form {
      order: 3;
    }
  }